.login-container {
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    width: 50%;
    margin: auto;

}

form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #7b7a7e;
}

div {
    padding: 30px;
}

ul {
    padding: 30px;
    width: 70%;
    margin: auto;
    background-color: #cecfd1;
    border-radius: 10px;
}

li img {
    height: fit-content;
    border-radius: 50%;
}

p {
    font-size: 30px;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 10%;
    margin-bottom: 10px;
}

h2 {
    padding: 30px;
    width: 70%;
    margin: auto;
    background-color: #c6c9cc;
    border-radius: 10px;
}

@media (max-width: 340px) {
    ul {
        max-width: 280px;
    }

    li img {
        width: 40px;
        height: 40px;
    }

    p {
        font-size: 15px;
    }

    li {
        justify-content: space-between;
    }
}